@use "../themes/colours" as c;

.main {
  width: 80%;
  height: auto;
  position: absolute; //Con "position: fixed" la barra de scroll no es tomada por la ventana
  top: 0;
  right: 0;
  z-index: 0;
  background-color: c.$main-color-black;
  color: c.$main-white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.logo {
  i {
    font-size: 1.8rem;
  }
}
.title {
  font-size: 5rem;
  text-shadow: 3px 3px 5px #000;
}

.second-title {
  font-size: 2.1rem;
  color: c.$buttons-color;
  text-shadow: 3px 3px 5px #000;
}
