@use "../themes/colours" as c;
@use "../utils/mixins" as m;

.must-see-content {
  height: 300vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.info-card-must-see {
  @include m.info-cards-generic-style(65%, 23%);
}
